/*============================

RX Watches
design by Guillermo López
virtualclover.com.mx

colors

gold: #D9B179;
black: #1E1D1B;
gray: #53585C;

===============================*/



body{
    
    font-family: 'Open Sans';
    color : #1E1D1B;
    background: url(../img/bg.jpg);
    background-size: 50%;
    background-attachment: fixed;
    overflow-x: hidden;
}

section {
    
    padding-bottom: 150px !important;
}

main{
    
    position: relative;
    left: 0;
    transition: 1s ease;
}

main.shop{
    
    left:-250vw;
}

h1{
    
    font-family: 'Source Serif Pro';
    color: #D9B179;
    font-size: 5.2em;
    padding-bottom:  20px;
    
}

h2{
    
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

h3{
    
    font-size: 1em;
}

h4{
    font-size: .9em;
}

h2, h3, h4{
    
    text-transform: uppercase;
}

h2, h3, h4, h5, h6, h7{
    
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
}

p{
    
    font-family: 'Open Sans';
    font-size: .9rem;
    padding-bottom: 10px;
    color: #1E1D1B;
}

a{
    color: inherit;
    
}

a:hover{
    color: inherit;
    text-decoration: none;
    
}

.row{
    
    margin: 0;
}

input, select{
    
    color: dimgrey;
}

/*-------Preloader----------*/

.preloader{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 500;
    background: white;
    opacity: 1;
    transition: .2s ease;

}

.loader-logo{
    
    display: table;
     margin: 0 auto;
    padding: 50px;
    z-index: 3;
    
}

.loader-text{
    
    margin-top: 20px;
    
    
}


/*-------Nav----------*/

nav{
    position: fixed;
    right: -170px;
    z-index: 22;
    
    transition: .3s ease;
    height: 100vh;
}

nav.expand{

    right :0;
    overflow-y: auto;

}

.menu-titles{
    
    position: absolute;
    width: 200px;
    right: 225px;
    top: 74px;
    padding-right: 7px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 3px;
    opacity: 1;
    transition: .3s ease;
    
}

.m-t{
    
    display : block;
    transform: rotate(-90deg);
    transform-origin: right;
    
   }

.menu1{
    
    
    background-color: white;
    padding: 5px;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    top: 30px;
    position: relative;
}

.menu-btn{
    
    border: 3px solid #1E1D1B;
    color : #1E1D1B;
    font-family: 'Montserrat';
    font-size: 2.5em;
    font-weight: 600;
    height: 40px;
    width: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transform-origin: center;
    transition: .3s ease;
}

.menu-btn:hover{
    
    background-color: #1E1D1B;
    color: #D9B179;
    cursor: pointer;
}

.menu-btn a{
    
    margin: 0 auto;
}

.menu-btn a::after{
    
    content: "+";
}

.expand .menu-btn a{
    
    transform: rotate(-45deg);
    
}

.s-bag{
    
    margin: 20px 0 0px 0;
    opacity: .5;
    transition: .3s ease;
    cursor: pointer;
}

.s-bag.expand{
    
    margin: 349px 0 0px 0;
}

.n-wrapper{
    
    height: 0;
}

.s-bag p{
    
    background-color: #1E1D1B;
    color: white;
    position: relative;
    top:-31px;
    left: 9px;
    width: 22px;
    height: 22px;
    border: 3px solid #D9B179;
    border-radius: 7px;
    font-weight: 200;
    font-size: .7em;
    line-height: 1.4;
    opacity: 0;
}

.menu1,.menu2{
    
    float: left;
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
}

.menu2{
    
    width: 170px;
    background: white;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.menu2 ul{
    
    padding: 40px 0px 0px 0px;
    border-bottom: 1px solid #1E1D1B;
}

.menu2 li{
    
    list-style: none;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}

.menu2 li a{
    
    color :inherit;
}


.menu2 li a:hover {
    
    font-weight: 600;
    cursor:pointer;
    text-decoration: none;
    
}

.menu2 .m-logo{
    
    width: 60%;
    margin: 0 auto;
    display: block;
    padding: 20px 6px;
    max-width: 100px;
}

#sb{
    
    width: 100%;
    padding-top: 13px;
}

#sb h7{
    
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.sb-item{
    
    width: 0%;
    height: 0;
    margin: 0px auto 20px auto;
    box-shadow: 0px 5px  10px rgba(0,0,0,0.2);
    
    z-index: 100;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
    left: 0;
    
}

.remove{
    
    left: 100vw !important;
}

.sb-item img{
    
    width: 100%;
    padding-bottom: 10px;
}

.sb-item p {
    
    text-align: center;
    font-family: 'Montserrat';
    margin: 0;
    line-height: .6;
}

.sb-x{
    
    height: 0;
}

.sb-x:hover{
    
    cursor: pointer;
}

.sb-x p{
    margin: 0;
    padding: 0;
    font-size: 2em;
    background-color: #1E1D1B;
    width: 40px;
    line-height: 1.25;
    height: 40px;
    position: relative;
    top : 0px;
    color : white;
}

.sb-item .tier{
    
    font-size: .7em;
}

.check-btn{
    
    display: none;
}

.check-btn, .account-btn{
    
    background-color: #1E1D1B;
    color: #D9B179;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: .9em;
    font-weight: 600;
    
    
}

.check-btn:hover,.account-btn:hover{
    
    
    cursor: pointer;
    color: #1E1D1B;
    background-color: #D9B179;
    
}



/*-------Banner----------*/

.banner-wrapper{
    
    width: 100%;
    height: 100vh;
    min-height: 610px;
    position: relative;
    
}

.banner-logo{
    
    padding: 10px;
    position: absolute;
    display: none;
}

.watch-htitle h1{
    
    font-size: 19vw;
    line-height: .2;
    position: absolute;
    z-index: 1;
    top: 0vh;
    transform-origin: top;
    left : 0;
    opacity: .1;
    color: white;
    
}

.hwatch-wrapper{
      
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 100vh;
    min-height: 610px;
    position: relative;
    z-index: 4;
}

.banner-content{
    
    width: 100%;
    height: 100%;

}

.half-image, .half-text{
    
    position: relative;
    width: 50%;
    float: left;
}

.half-image{
    top:-50px;
    opacity : 0;
    height: 100vh;
    min-height: 610px;
    transition: .5s ease;
}

.half-image a{
    
    font-family: 'Montserrat';
    transform: translate(-50%,-40%);
    left: 50%;
    top: 50%;
    z-index: 4;
    color: white !important;
    font-size: 2vw;
    position: absolute;
}

.w-text{
    
    display: none;
    cursor: default;

}

.w-logo img{
    
    transform: translateY(0%) !important;
}

.half-image img{
    width: 50%;
    display: table;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.half-text{
    
    padding-top: 50px;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 70px;
    opacity : 0;
    transition: .5s ease;
}

.order-btn{
    
    color: #D9B179 !important;
    border : 2px solid #D9B179;
    padding: 7px 30px;
    
}

.order-btn:hover{
    
    color: white !important;
    background-color: #D9B179;
    text-decoration: none;
    cursor: pointer;
}

.banner-background{
    
    height: 90vh;
    min-height: 610px;
    box-shadow:  5px 10px 50px rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: white;
    
}


/*-----------------Page Body------------*/

.page-body{
    
    position: relative;
    z-index: 6;
    top:0px;
    transition: .3s ease;
    opacity: 0;
}

.gold .body-bg{
    
    background-color: #1E1D1B;
}

.gold h2{
    
    color: #D9B179;
}

.body-bg{
    position: absolute;
    background-color: white;
    display: block;
    width: 70%;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: -3px 10px 50px rgba(0,0,0,.2);
    top: 0;
    height: 100%;
    transition: .3s ease;
    
}

#about, #functions, #watches{
    
    width: 70%;
    margin: 0 auto;
}


/*-------About----------*/

#about{
    
    padding: 25px 0  0  40px; 
}

.bout-title{
    
    width: 100%;
     padding-bottom: 50px;
}

#about h2{
    
}

.arrow img{

    width: 50px;
    display: block;
    margin: 0 auto;
    opacity: .3;
    cursor: pointer;
    transition: .3s ease;
    
}

.arrow img:hover{
    
    opacity: 1;
    padding-top: 5px;
}

.bout-text p{
    
    width: 90%;
}

.bout-img{
    
    background: url(../img/about-img.jpg) bottom;
    background-size: cover;
    min-height: 286px;
}




/*-------Watches----------*/


#watches{
    
    margin-top: 50px;
    padding-bottom: 90px !important;
}

.watch{
    
    position: relative;
    top: 0;
    transition: .3s ease;
    border: 10px solid outset;
    width: 80%;
    margin: 20px auto;
    
}

.watch:hover{
    cursor: pointer;
    top:-20px;
}

#watches .img-cont{
    
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
}

#watches img{
    
    width: 200%;
    position : relative;
    transform: translate(-50%, -75%);
    left: 50%;
    top: -100%;
}

#watches h3{
    
    text-align: center;
    font-size: 1em;
    letter-spacing: 3px;
    padding: 20px 0;
    box-shadow: 0px 20px 10px rgba(0,0,0,.1);
    
}



/*-------Style----------*/

#style{
    position: relative;
    width: 100%;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    margin: 100px 0;
    
}

#style .s-img{
    
    position: absolute;
    right: 0;
    padding: 0 40px;
    width: 25%;
    transform: translateX(-50%);
    background: url(../img/style.jpg) center center;
    height: 700px;
    background-size: cover;
    z-index: 8;
}

.outer{
    
    width: 100%;
    top: 0;

}

.inner{
    
    background-color:  #D9B179;
    padding: 80px 40px;
    width: 100%;
}

.inner>div{
    
    width: 70%;
    margin: 0 auto;
}

.inner h2, .inner p{
    
    
}

.outer .pleca{
    
    width: 70%;
    margin: 60px auto;
}

.style-btn{
    
    color: white;
    background-color: #1E1D1B;
    padding: 7px 30px;
}

.style-btn:hover{
    
    color: #D9B179;
    text-decoration: none;
}

/*-------Functions----------*/


.sec-title{
    
    margin: 40px 0;
}

#functions h2, #watches h2{
    
    text-align: center;
    transform: translateY(-50%);
}

.pleca{
    
    height: 1px;
    background-color: #1E1D1B;;
}

.f-rows{
    
    padding-bottom: 60px;
}

.f-rows>div{
    
    background-color: #1E1D1B;
    min-height: 610px;
    border-right: 10px solid white;
    overflow: hidden;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.f-rows div .thumb{
    
    position: absolute;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    opacity: 1;
    transition: .3s ease;
}

.f-rows div .thumb:hover{
    
    opacity: 0;
    height: 120%;
}

.f-text img{
    
    width: 60px;
    margin: 40px auto;
}

.f-rows .calendar{
    
   border-right: 0;
}

.f-text{
    
    margin: 0 auto;
    padding-left: 10px;
    text-align: center;
}

.f-text p{
    
    color:white;
}

.f-text h3{
    
    font-size: 1em;
    color: #D9B179;
    letter-spacing: 2px;
}

.other-f-rows.f1{
    
    padding-top: 50px;
}

.other-f-rows{
    
    padding: 5px 0;
    z-index: 7;
    position: relative;
    display: table;
    margin: 0 auto;
    
}

.other-f{
    
     float: left;
}

.other-f p{
    text-align: center;
    border: 2px solid #53585C;
    padding-top: 5px;
    width: 250px;
    margin: 20px 15px;
    
    
}


/*-------Newsletter----------*/

#nl{
    
    background: url(../img/bg-black.jpg) 50px 110px;
    background-size: 50%;
    background-attachment: fixed;
    position: relative;
    padding-top: 70px;
    top:-120px;
}

#nl .inner-f{
    
    margin: 50px auto;
    width: 70%;
}

#nl h2{
    
    color: #D9B179;
}

#nl h2, #nl p{
    
    text-align: center;
}

#nl p{
    
    margin-bottom: 50px;
    color: white;
}

input{
    
    width: 80%;
    margin: 20px auto;
    display: block;
    padding: 10px 10px;
}


.nl-btn{
    
    width: auto;
    background-color: #D9B179;
    color : #1E1D1B;
    border: 0;
    font-family: 'Raleway';
    font-weight: 600;
    padding: 3px 10px;
}


/*-------Footer----------*/


footer{
    
    color : black;
    width: 100%;
    background: white;
    margin: 0 auto;
    display: table;
    padding: 30px 40px;
    
}

.f-half-l, .f-half-r{
    
    width: 50%;
    float: left;
}


.f-half-r{
    
    text-align: right;
}


footer a{
display: block;
    font-size: .9em;
    padding: 7px;
    
}

/*-------Product-container----------*/


#product-cont{
    
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 19;
    left: 200vw;
    transition: 1s ease;
    overflow: auto;
    
}

#product-cont.shop{
    
    left:0;
}


.prod-close{
    
    color :white;
    font-family: 'Montserrat';
    font-size: 2.5em;
    font-weight: 600;
    height: 40px;
    width: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    background-color: #1E1D1B;
    
}
.prod-close a{
    
    margin: 0 auto;
    position: relative;
    
}

.prod-img,.prod-text{
    
    display: flex;
    align-items: center;
    min-height: 100vh;
    
}

.color{
    
    
    width: 25px;
    height: 25px;
    margin: 0 3px;
    float: left;
    border-radius: 50%;
    border: 2px solid;
    padding: 2px;
}

.color>div{
    
    background: blue;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.prod-text{
    
    box-shadow:  5px 10px 50px rgba(0,0,0,.2);
background-color: white;
}

.prod-text h1{
    
    color: #1E1D1B;
    font-family: 'Raleway';
}

.prod-img img, .prod-text .vertical-a{
    
    width: 70%;
    margin: 0 auto;
    display: block;
    
}


#product-cont select{
    
    margin: 20px 0;
    font-size: .9em;
    padding: 5px;
    border: 2px solid;
    width: 100%;
}

.add-btn, .pay-btn, .edit-btn, .pp-btn{
    
    border: 3px solid #1E1D1B;
    padding: 10px 50px;
    color: #1E1D1B; !important;
    font-weight: 600;
}

.add-btn:hover, .pay-btn.active:hover, .edit-btn:hover, .pp-btn:hover{
    
    background-color: #1E1D1B;
    padding: 10px 50px;
    color: white !important;
    cursor: pointer;
}

/*-------Checkout----------*/
#co{
    
    background: url(../img/bg.jpg) 50px 110px;
    background-size: 50%;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

#h-co
{
    
    
    width: 100%;
    background-color: white;
    height: 50px;
    padding: 5px 0;
    position: relative;
}

#h-co .back{
    
    height: 20px;
    display: table;
    margin: 0 auto;
    transform: translateY(50%);
    position: absolute;
    padding: 0 10px;
    z-index: 3;
}

#h-co .logo{
    
    height: 40px;
    width: 100%;
    position: absolute;
}


.co-wrap,.delivery, .payment, .account{
    
    background: white;
    display: table;
    margin: 30px auto;
    padding: 30px;
    box-shadow: -3px 10px 50px rgba(0,0,0,.2);
}

.dd-title h2 ,.dd-title img{
    
    float: left;
    margin-right: 20px;
}

 .co-wrap h2{
    
    margin-bottom: 30px;
    display: table;
}

.prod-wrap{
    
    height: 100px;
    width: 100%;
    box-shadow:  2px 5px 10px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
    transition:  .3s ease;
    left:0;
    
}

.prod-wrap .sb-x{
    
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #1E1D1B;
    
}

.prod-wrap .sb-x p{
    
    text-align: center;
    width: 100%;
}

.prod-wrap img{
    
    height: 100%;
}

.prod-wrap p{
    
    padding:  0 20px;
    margin: 0;
}

.prod-name{
    
    width: 90%;
}

.pay-btn{
    
    opacity: .5;
}

.ship-form h7, .payform h7{
    
    font-size: .8em;
}

.ship-form input,.pay-form input{
    
    width: 100%;
    padding: 3px;
    margin: 0 0 20px  0;
    font-size: .8em;
    
}
input[type="submit"]{
    
    border: 0;
    width: auto;
}

input[type = "radio"]
{
    
    width: auto;
    display: inline-block;
}

.ship-form select, .pay-form select{
    
    margin: 0 0 20px  0;
    font-size: .8em;
    width: 100%;
}

.total-row{
    
    position: relative;
    margin:  50px 0px 0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.pay-btn{
    
    right: 0;
    position: absolute;
    opacity: .5;
    
}

.pay-btn.active{
    
    opacity: 1;
}

.total-row p{
    
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;
}

.dd-title{
    
    width: 90%;
    display: inline-block;
}

.dd-btn:hover{
    
    cursor: pointer;
}

.dd-btn {
    
    width: 10%;
    transform-origin: center;
    transform: rotate(0deg);
    transition: .3s ease;
    position: relative;
    top :-15px;
}

.expand .dd-btn{
    
    transform: rotate(-180deg);
    
}

.dd-body{
    
    transition: .5s ease;
    max-height: 0;
    overflow: hidden;
}

.expand .dd-body{
    
    max-height: 1500px;
    
}

.no-items{
    
    width: 200px;
    margin: 0 auto;
    display: none;
}

.requiered{
    
    color: red;
    font-size: 1.6em;
}

/*-------Profile----------*/

.account{
    
    width: 100%;
}

.edit-wrap{
    
    padding: 20px 0;
}
.edit-btn, .pp-btn{
    
    padding: 5px 9px !important;
}


.non-edit input, .non-edit select{
    
    border: 0px;
    background-color: transparent;
    /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
    
}

.save-message{
    
    display: table;
    position: absolute;
    top:  90vh;
    color: white;
    background-color : #1E1D1B;
    padding: 10px 30px;
    box-shadow: 7px 2px 10px rgba(0,0,0,.3);
    transform: translate(-50%,-50%);
    left: 50%;
    z-index: 100;
    height: 0;
    transition: .3s ease;
    
    
}

.pp-btn{
    
    display: table;
}


/*-------Success----------*/

.s-message{
    
    position: absolute;
    width: 100%;
    top: 100px;
    height: 100%;
    display: flex;
    
    
}

.s-inner{
    background: white;
    margin: 0 auto;
    padding: 5vw;
    display: table;
    box-shadow:  5px 10px 50px rgba(0,0,0,.2);
}

.rtn-btn{
    
    margin: 0 auto !important;
    display: table !important;
    background-color: #1E1D1B;
    padding: 10px 50px !important;
    color: white !important;
    
}

/*-------Documentation----------*/

.document{
    
    width: 80%;
    background-color: white;
    box-shadow:  5px 10px 50px rgba(0,0,0,.2);
    position: relative;
    top: 50px;
    margin: 0 auto;
    display: table;
    padding: 50px;
}

/*-------Device adjustments----------*/

@media (max-width: 1220px){
    
    .other-f-rows{
        
        display: block;
        
    }
    
    .other-f{
        
        width: 100%;
        float: none;
        
    }
   
    .other-f p{
        
        width: 90%;
        margin: 10px auto;
    }
    
}

@media (max-width: 992px){
    
    
    nav{
    right: calc(100px - 100vw);
    z-index: 22;
    transition: .3s ease;
}

nav.expand{

    right :0;

}
    .menu2{
        
        width: calc(100vw - 100px);
    }
    .hwatch-wrapper{
        
        width: 100%;
    }
    .banner-background{
        
        top: 0;
        height: 100vh;
    }
    .half-image, .half-text{
        
        float: none;
        width: 100%;
        
    }
    .half-image img{
        
        height: 100vh;
        min-height: 610px;
        width: auto;
    }
    .half-text{
        
       position: absolute;
       height: 100vh;
       min-height: 610px;
        top: 0;
        padding: 0;
        
    }
     main .vertical-a{
        
        position: absolute;
        bottom: 0;
        transform: translate(-50%,-100%);
        left: 50%;
        z-index: 6;
    }
    .half-image a{
        
        font-size: 4vw;
    }
    .w-logo img{
        
        width: 10vw;
        transform: translateY(-10%) !important;
    }
     main h1{
        
        background-color: #1E1D1B;
        padding: 10px 20px;
        font-size: 3em;

    }
    .half-text p, .half-text h2{
        
        display: none;
    }
    .order-btn{
        
        display: table;
        margin: 10px auto;
        background-color: #1E1D1B;
        border: 0;
       
    }
    
    .arrow{
        
        display: none;
    }
    #about, #functions, #watches, .body-bg{
        
        width: 100%;
    }
    .pleca{display: none;}
    .f-rows div{
        border: 0;
        min-height: auto;
        padding: 50px 10px;
    }
    .f-rows div .thumb{
        
        opacity: 0;
    }

    #style .s-img{
        
        display: none;
    }
    #style .inner>div{
        
        width: 100%;
    }
    
    .prod-img, .prod-text{
        
        min-height: auto;
        display: table;
        padding: 0 0 70px 0;
        background: white;
    }
    .prod-text .vertical-a{
        width: 100%;
         margin : 0;
        padding: 0 20px;
    }
    .prod-img img{
        
        width: 100%;
    }
    
     .total-row p{
    
        
        font-size: .9em;
}
    
    .co-wrap{
        
        padding: 20px 5px;
    }
    
    }

@media (max-width: 600px){
    
    .half-image a{
        
        font-size: 7vw;
    }
    
}




